@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <head>
        <script type="text/javascript" src="~/Scripts/extjs/ext-4.1.0/ext-all.js"></script>
        <script type="text/javascript" src="~/Scripts/extjs/app/app.js"></script>
        <script type="text/javascript">
            Ext.onReady(function () {
                Ext.create('Ext.Panel', {
                    renderTo: 'helloWorldPanel',
                    height: 100,
                    width: 200,
                    title: 'Hello world',
                    html: 'First Ext JS Hello World Program'
                });


                Ext.create('Ext.Button', {
                    text: 'Click Here',
                    renderTo: 'tabpanel',
                    handler: function () {
                        if (this.clickCount) {
                            this.clickCount++;
                            alert('you have click the button' + this.clickCount + '');
                        }
                        else {
                            this.clickCount = 1;
                            alert('You clicked the button first time')
                        }
                    }
                });

                Ext.create('Ext.Container', {
                    renderTo: 'tabpanel',
                    items: {
                        xtype: 'button',
                        text: 'Click Me'
                    }
                });

                Ext.create('Ext.Button', {
                    text: 'Toggel Button',
                    renderTo: 'tabpanel',
                    enableTauggle: true
                });
            });


           

        </script>

    </head>

    <body>

        <div id="helloWorldPanel">Panel Example</div>
        <div id="tabpanel">Buttons Example</div>
    </body>

}

